.portfolio-box {
    /* max-width: 450px; */
    cursor: pointer;
    transition: opacity .5s ease;
}
.image-wrapper {
    position: relative;
    height: 200px;
}
.portfolio-box:hover {
    opacity: .5;
}
.image-wrapper > a > img{
    width: 100%;
    height: 100%;
}
.image-title {
    font-family: montserrat-light;
}