
.Section {
    padding: 150px 0 0 0;
}
.top {
    height: 100vh;
    position: relative;
}

.image-wrapper {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.image-wrapper > img {
    width: 100%;
    height: 100%;
}
.title-wrapper {
    position: absolute;
    top: 40%;
    text-align: left;
}

.social {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.social > a > img {
    margin-top: 10px;
    cursor: pointer;
    height: 16px;
    transition: opacity .5s ease;
}
.social > a > img:hover {
    opacity: .5;
}

/* section news */

.news-wrapper { 
    position: relative; 
}
.text {
    width: 70%;
    height: 100%;
    background: #FFF8F1;
    padding: 80px ;
}
.text-paragraph {
    color: #808080;
    margin-right: 150px;
    margin-top: 20px;
}
.news-image-wrapper {
    position: absolute ;
    top: 100px;
    right: 0;
    width: 45%;
    height: 100%
}
.news-image-wrapper > img {
    width: 100%;
    height: 100%;
}

/*image grid */

.image-grid {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    margin-top: 50px;
}
.image-grid > a {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    z-index: 8;
}
.image-grid > a:hover > .grid-item > img {
    transform: scale(1.1);
    filter: grayscale(.7);
}
.grid-item {
    width: 100%;
    height: 100%;
}
.grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
     background: rgba(0,0,0, .6);
    z-index: 9;
}
.grid-item > img {
    width: 100%;
    height: 100%;
    transition: all .5s linear;
}
.grid-item > div {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  color: white;
  font-family: montserrat-regular;
  z-index: 9;
}

.image-grid > a:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
}
.image-grid > a:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}
.image-grid > a:nth-child(3) {
    grid-column: span 5;
    grid-row: span 3;
}
.image-grid > a:nth-child(4) {
    grid-column: span 4;
    grid-row: span 3;
}
.image-grid > a:nth-child(5) {
    grid-column: span 3;
    grid-row: span 2;
}
.image-grid > a:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
}

.obs {
    opacity: 0;
    transform: translateY(30px);
    transition: all .3s ease-out;
}
.obs.inView {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width: 450px) {
    .Section.grid {
        margin-top: 0 !important;
        padding-top: 80px;
    }
    .image-wrapper {
        position: absolute;
        bottom: 0;
        right: -30%;
        height: 79%;
        width: 50%;
    }
    .title-wrapper {
        width: 200px;
    }
  
    .title-wrapper {
        top: 40%;  
    }
}
@media only screen and (min-width: 451px) and (max-width: 750px)  {
    .image-wrapper {
        margin-right: -50px;
    }
   .social {
    left: 100%;
    right: 0  !important;
   }
   
}
@media(max-width: 750px) {
    .image-grid {
        height: auto !important;
        grid-template-rows: repeat(3, 125px);
    }
    .title-wrapper {
        top: 30%;  
    }
}

@media  (max-width: 920px) {
    
    .image-grid {
        height: auto !important;
        grid-template-columns: repeat(6, 1fr) !important;
        grid-template-rows: repeat(3, 1fr) !important;
    }
    .image-grid > a {
        grid-row: span 1 !important;
        grid-column: span 3 !important;
    }
   .text {
       width: 100%;
       padding: 20px;
   }
   .news-image-wrapper {
       width: 100%;
       position: relative;
       top: 0;
   }
   .text-paragraph {
       margin-right: 0;
   }
   .image-wrapper {
       width: 100% !important;
   }
}
@media (max-width: 1200px) {
    .image-wrapper {
        width: 70%;

    }
}