.Section {
    padding: 150px 0;
}
.portfolio-filters {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
.portfolio-filters > div  {
    
    cursor: pointer;
    font-family: montserrat-regular;
    font-size: 14px;
}
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 25px;
    margin-top: 50px;
    opacity: 0;
    
}
.loaded {
    transition: opacity .5s ease;
    opacity: 1;
}
.scroll {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    z-index: 999;
    cursor: pointer;
    transition: opacity .4s ease-out;
}
.scroll:hover {
    opacity: .6;
}
.scroll.show {
    display: block;
}