header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    z-index: 998;
}
.burger-wrapper {
    position: relative;
    width: 30px;
    cursor: pointer;
}
.burger-wrapper > div {
    width: 100%;
    height: 2px;
    background: #222;
    margin-top: 3px;
    transition: width .4s ease;
}
.burger-wrapper > div:nth-of-type(2) {
    width: 80%;
}
.burger-wrapper > div:nth-of-type(3) {
    width: 60%;
}

.burger-wrapper:hover > div:nth-of-type(2), .burger-wrapper:hover > div:nth-of-type(3) {
    width: 100%;
} 

@media screen and (max-width: 400px) {
    .logo {
        width: 110px;
    }
}

