.outer-wrapper {
    position: relative;
    max-width: 1680px;
    margin: 0 auto;
    
}
.inner-wrapper {
    width: 80%;
    margin: 0 auto;
    height: auto;
    position: relative;
   
}

@media (max-width: 920px) {
    .inner-wrapper {
        width: 92%;
    }
}

