@font-face {
  font-family: 'montserrat-light';
  src: local('montserrat-light'), url(./assets/fonts/Montserrat-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'montserrat-regular';
  src: local('montserrat-regular'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'montserrat-medium';
  src: local('montserrat-medium'), url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'helvetica-bold';
  src: local('helvetica-bold'), url(./assets/fonts/Helvetica-Bold.ttf) format('truetype');
}
html {
  height: 100%;
}
body,html {
  color: #222;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: helvetica-bold;
  font-size: calc(40px + (80 - 40) * (100vw - 400px) / (1680 - 400));
}
h3 {
  font-family: montserrat-light;
  font-weight: 100;
  font-size: calc(20px + (40 - 20) * (100vw - 400px) / (1680 - 400));
}
h5 {
  font-family: montserrat-light;
  font-weight: 100;
  font-size: calc(11px + (12 - 11) * (100vw - 400px) / (1680 - 400));
  text-transform: uppercase;
  letter-spacing: 6px;
}
p {
  font-family: montserrat-regular;
  font-size: 13px;
}

/* #root {
  height: 100vh;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
