.Button {
    text-align: center;
    padding: 5px 50px;
    border: 1px solid #BA814E;
    display: inline-block;
    text-transform: uppercase;
    font-family: montserrat-regular;
    font-size: 13px;
    margin-top: 50px;
    cursor: pointer;
    position: relative;
}
.Button > span {
    display: inline-block;
    transition: transform .4s ease-out;
    -webkit-transition: transform .4s ease-out;
    color: #363636;
}
.Button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #BA814E;
    transition: all .4s ease-out;
}
.Button:hover::before {
    width: 30px;
}
.Button:hover > span {
    transform: translateX(10px);
}