.Button {
    text-align: center;
    padding: 5px 50px;
    border: 1px solid #BA814E;
    display: inline-block;
    text-transform: uppercase;
    font-family: montserrat-regular;
    font-size: 13px;
    margin-top: 50px;
    cursor: pointer;
}